<h1>Editing student</h1>

<%= render "form", student: @student %>

<br>

<div class='btn-group'>
  <%= link_to "Show this student", @student , class: 'btn btn-outline-primary'%>
  <%= link_to "Back to students", students_path, class: 'btn btn-outline-primary' %>
</div>
