<h1>Scores</h1>

<% @scores.each do |score| %>
  <div class='card'>
    <div class='card-body'>
      <%= render score %>
      <%= link_to "Show this score", score , class: 'btn btn-outline-primary'%>
    </div>
  </div>
<% end %>


<%= link_to "New score", new_score_path , class: 'btn btn-success'%>
